@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');



body{
  margin: 0;
  padding: 0;
  height: auto;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;

}
header{
  width: 100%;
  position: fixed;
  display: block;
}
header img {
  position: relative;
}
nav{
  margin-top: 0;
}
 
.head1{
  height: 70PX;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15PX 30PX 15PX 30PX;
  background-color: white;
}
nav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: blanchedalmond;
  margin-top: 0PX;
  margin-bottom: 0PX;
  height: 50PX;
}
a{
  text-decoration: none;
  color: black;
  margin-right: 30PX;
}
li{
  list-style: none;
  margin-top: 15PX;

}
.ma_section{
  display: flex;
  flex-direction: row;
}
.ma_section p {
  margin:0PX ;

}
.ma_section a:hover {
  background-color: rgb(252, 225, 232);
  border-radius: 60PX;

}
.ma_section a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0PX;

}



/* acceuil */

main{
  margin-top: 140PX;
}
h1{
  text-align: center;
  font-size: xx-large;
  color: coral;
}
main .section-one{
  background-image: url('images/Fleury.png');
  background-position: center;
  background-size: contain;
  background-attachment: scroll;
  background-repeat:no-repeat ;
  width: 100%;
  height: 100vh;
}
.icone{
  width: 25PX;
  height: 25PX;
}

.logo img{
  width: 80PX;
  height: 80PX;
}
button{
  border: solid blanchedalmond; ;
  background-color: coral;
  border-radius: 30PX;
  height: 50PX;
  width: 150PX;
  color: black;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  
}


[type=search]{
  outline: none;
  border-radius: 10PX;
  height: 25PX;
  width: 30%;
  border: solid  rgb(253, 186, 255) 1PX ;
  margin-top: 20PX;
}

section{
  margin-top: 30PX;
}
.affichage_mode{
  background-color:  white;
  border-radius: 20PX;
  margin-left: auto;
  margin-right: auto;
  width: 1000PX;
  height: 470PX;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 10px 14px 30px #abaeb1;
}
.affichage_mode img{
  width: 336PX;
  height: 470PX;
}
.affichage_mode img:first-child{
  width: 336PX;
  height: 470PX;
  border-radius: 20PX;
}
.word{
  display: flex;
  flex-direction: column;
  margin: 15PX;
}









/* footer */
footer{
  height: auto;
  background-color: rgb(34, 42, 75);
  display: flex;
  margin-bottom: 0PX;
  margin-top: 30PX;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: blanchedalmond;
  padding: 25PX;
}

footer a{
  color: blanchedalmond;


}
hr{
  color: blanchedalmond;
  
}

footer h4{
  display: flex;
  margin-bottom: 0;
}

footer h1{
  display: flex;

}

footer div{
  display: flex;
  flex-direction: column;

}

footer .robe h4{
  margin-left: 35PX;

}



/* predre contact */


form{
  display: flex;
  flex-direction: column;
  padding: 150PX;
  justify-content: space-around;
  height: 55vh;
}


/* catalogue */

.content {
  display:flex;
  justify-content: center;
  align-content: center; 
  flex-direction: column;
  gap: 10px;
  margin-top: 180PX;
}
.rows{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content img{
  width:450PX ;
  height: 350PX;
  border-radius: 6px;
}
.display_1,.display_2,.display_3,.display_4,.display_5,.display_6{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width:450PX ;
  height: 450PX;
  border-radius: 6px;
  box-shadow: 5px 14px 50px #abaeb1;
}

